

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=Inter:wght@200;300;400;500&family=Lato:wght@400;700&family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
 }
 
 html, body{
    min-height: 100vh;
    background-color: #0d0305;
    color: aliceblue;
 }
 
  header{
    background-color: #0d0305;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    border-bottom: 0.2px solid #f2a2a2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
 }

 nav a{
    margin: 0;
    font-size: 1.3rem;
    margin-left: 20px;
    color: #f2a2a2;
 }
 nav a:hover{
    color: aliceblue;
    border-bottom: 2px solid aliceblue;
    padding-bottom: .3rem;
 }
 .icons a{
    color: #f2a2a2;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
 }
 .icons a:hover{
    color: aliceblue;
 }

 section{
    padding-top:25vh;
    padding-bottom: 10vh;
 }
 .home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
 }
 .home .img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #400112;
    box-shadow: 5px 7px 25px #40011260;

 }
 .img img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
 }
 img:hover{
    transform: scale(1.2);
 }

 .text{
    max-width: 50%;
    display: flex;
    flex-direction: column;
 }
 .text h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;
    color: aliceblue;
    position: relative;
 
 }

 /*fazer a animação do h5*/
 .animate{
   position: relative;
 }
 .animate h5{
    font-size: 30px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: .1px #f2a2a2;
 }

 .text p{
    color: rgba(240, 248, 255, 0.599);
    line-height: 25px;
    font-size: 18px;
    padding-top:20px;
 }
 .button{
    width: 10rem;
    background-color:transparent;
    padding: 12px 25px;
    margin: 40px 0px;
    margin-right: 7px;
    border-radius: 10px;
    border:  2px solid #f2a2a2;
    cursor: pointer;
 }
 .button:hover{
   background-color: aliceblue;
 }
 .button a{
   color: #f2a2a2;
 }
 
 /* seção Sobre mim*/
 .sobreMim{
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
    width: 100%;
    flex-wrap: wrap;
    
 }

 .texto{
    width: 700px;
 }
 .texto h2{
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 30px;
 }
 .texto p{
    color: rgba(240, 248, 255, 0.599);
    line-height: 25px;
    font-size: 18px;
    text-align: justify;
 }

 @media screen  and (max-width: 414px){
   .texto p{
      font-size: 12px;
      width: 400px;
      padding: 15px;
      text-align: center;

   }
   
 }
 
 /*Habilidades*/

 

/*

.projetos{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}
.card-caixa{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.card{
    width: 240px;
    height: 240px;
    border-radius: 2%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9e8798;
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*efeito*
    filter: grayscale(0.5);
    color: #363643;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.card-texto{
    width: 40%;
    letter-spacing: 1px;
    color: rgb(142, 142, 142);
}
.nomes-do-meio{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nomes-do-meio h2{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    transform: 0.5s ease-in-out;
}
.nomes-do-meio p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transform: 0.5s ease-in-out;
}
.card:hover{
    filter: unset;
}
.card:hover > .nomes-do-meio p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
*/

.footer{
    width: 100%;
    height: 60px;
    background-color: #0d0305;
    border-top: 0.2px solid #f2a2a2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer p{
    color: white;
}


/*animações do h1 do home*/
@keyframes showRight{
   100%{
      width: 0;
   }
}



